@use './../helpers' as *;

.cto {
	display: grid;
	align-items: center;
	column-gap: rem(80);

	@include tablet {
		column-gap: rem(40);
	}

	@include mobile-above {
		grid-template-columns: 1fr 48%;
	}

	@include mobile {
		row-gap: rem(40);
	}

	&__body {
		display: flex;
		flex-direction: column;
		align-items: start;
		row-gap: rem(20);
	}

	&__title {
		text-transform: uppercase;
	}

	&__button {
		@include mobile {
			padding-inline: rem(9);
		}
	}

	&__image {
		width: 100%;
		object-fit: cover;
		object-position: center;

		@include mobile {
			height: 312px;
		}
	}
}
