@use './../helpers' as *;

.how {
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: rem(32);
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: rem(20);

		@include mobile {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
